.about-section {
  padding: 5.625rem 0;

  &.image-skew {
    .section-heading {
      @include media-breakpoint-up(xxxl) {
        margin-right: -6.25rem;
        margin-left: 6.25rem;
      }
    }
  }
}

.event-section {
  padding: 5.625rem 0;
}
