.base-accordion {
  text-align: left;
  margin: 2.625rem 0;

  @include media-breakpoint-up(xl) {
    margin: 4.125rem 0;
  }

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }

  > .card {
    > .card-header {
      padding: 0;
      margin-bottom: 0;
    }
  }

  .card {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    position: relative;
    margin-bottom: 0.625rem;

    &:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      right: 0;
      height: 5px;
      border-radius: 10px;
      background-color: $gray-600;
    }
  }

  .card-body {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 3.75rem;

    @include media-breakpoint-up(md) {
      padding-left: 6.25rem;
      padding-right: 6.25rem;
    }

    @include media-breakpoint-up(xl) {
      padding: 0.4375rem 8.75rem 5rem 6.25rem;
    }
  }

  .card-header {
    padding: 0;
    border: 0;
    background-color: transparent;
    margin-bottom: 0;
  }

  .btn-link {
    color: currentColor;
    font-size: $font-size-base;
    font-weight: 700;
    display: block;
    width: 100%;
    border: 0;
    text-align: left;
    padding-right: 6rem;
    padding-left: 0;
    position: static;
    letter-spacing: 0;
    text-transform: uppercase;
    padding: 1.25rem 6.5625rem 1.25rem 0;

    @include media-breakpoint-up(xl) {
      font-size: 1.25rem;
    }

    &[aria-expanded='true'] {
      &:after {
        content: attr(data-text-open);
        font-weight: 400;
      }
    }

    &:after {
      font-size: 1.125rem;
      color: $primary;
      content: attr(data-text-close);
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 1.25rem 0;
      text-transform: capitalize;
    }
  }
}

.accordion-title {
  @include media-breakpoint-up(xl) {
    font-size: 64px;
  }
}

.accordion-section {
  padding: 5.3125rem 0;

  .section-heading-text {
    font-size: $font-size-md;

    @include media-breakpoint-up(lg) {
      font-size: 1.25rem;
      letter-spacing: 0.06em;
    }

    @include media-breakpoint-up(xl) {
      font-size: 1.5rem;
    }
  }
}
