.decorated-section {
  position: relative;
  z-index: 2;

  &.persective-lr {
    margin-top: 2.0625rem;

    @include media-breakpoint-up(xl) {
      margin-top: 4.6875rem;
    }

    @include media-breakpoint-up(xxxl) {
      margin-top: 12.1875rem;
    }

    &:last-child {
      margin-bottom: 2.0625rem;

      @include media-breakpoint-up(xl) {
        margin-bottom: 4.6875rem;
      }

      @include media-breakpoint-up(xxxl) {
        margin-bottom: 12.1875rem;
      }
    }

    .intro-section + & {
      margin-top: 0;

      @include media-breakpoint-up(xl) {
        margin-top: 0;
      }

      @include media-breakpoint-up(xxxl) {
        margin-top: 0;
      }
    }

    + *:not([class*='bg-']) {
      margin-top: 2.0625rem;

      @include media-breakpoint-up(xl) {
        margin-top: 4.6875rem;
      }

      @include media-breakpoint-up(xxxl) {
        margin-top: 12.1875rem;
      }
    }

    + *[class*='bg-'] {
      padding-top: 6.25rem;

      @include media-breakpoint-up(xl) {
        padding-top: 9.6875rem;
      }

      @include media-breakpoint-up(xxxl) {
        padding-top: 16.5625rem;
      }
    }
  }

  &.top-skew-rl {
    margin-top: 2.0625rem;

    @include media-breakpoint-up(xl) {
      margin-top: 4.6875rem;
    }

    @include media-breakpoint-up(xxxl) {
      margin-top: 12.1875rem;
    }
  }

  &.image-skew {
    @include media-breakpoint-up(lg) {
      padding: 6.6875rem 0 8rem;
    }

    + *[class*='bg-'] {
      @include media-breakpoint-up(lg) {
        padding-top: 10.3125rem;
      }
    }
  }

  &.skew-lr {
    margin-top: 0.9375rem;

    @include media-breakpoint-up(lg) {
      margin-top: 2.0625rem;
    }

    @include media-breakpoint-up(xxxl) {
      margin-top: 4.5625rem;
    }

    &:last-child {
      margin-bottom: 0.9375rem;

      @include media-breakpoint-up(lg) {
        margin-bottom: 2.0625rem;
      }

      @include media-breakpoint-up(xxxl) {
        margin-bottom: 4.5625rem;
      }
    }

    .intro-section + & {
      margin-top: 0;

      @include media-breakpoint-up(xl) {
        margin-top: 0;
      }

      @include media-breakpoint-up(xxxl) {
        margin-top: 0;
      }
    }

    + *:not([class*='bg-']) {
      margin-top: 0.9375rem;

      @include media-breakpoint-up(xl) {
        margin-top: 2.0625rem;
      }

      @include media-breakpoint-up(xxxl) {
        margin-top: 4.5625rem;
      }
    }

    + *[class*='bg-'] {
      padding-top: 5.625rem;

      @include media-breakpoint-up(xl) {
        padding-top: 6.25rem;
      }

      @include media-breakpoint-up(xxxl) {
        padding-top: 9.375rem;
      }
    }
  }

  &.skew-lr-lg {
    margin-top: 2.375rem;

    @include media-breakpoint-up(lg) {
      margin-top: 5rem;
    }

    @include media-breakpoint-up(xxxl) {
      margin-top: 12rem;
    }

    &:last-child {
      margin-bottom: 2.375rem;

      @include media-breakpoint-up(lg) {
        margin-bottom: 5rem;
      }

      @include media-breakpoint-up(xxxl) {
        margin-bottom: 12rem;
      }
    }

    .intro-section + & {
      margin-top: 0;

      @include media-breakpoint-up(lg) {
        margin-top: 0;
      }

      @include media-breakpoint-up(xxxl) {
        margin-top: 0;
      }
    }

    + *:not([class*='bg-']) {
      margin-top: 2.375rem;

      @include media-breakpoint-up(lg) {
        margin-top: 5rem;
      }

      @include media-breakpoint-up(xxxl) {
        margin-top: 12rem;
      }
    }

    + *[class*='bg-'] {
      padding-top: 7.5rem;

      @include media-breakpoint-up(lg) {
        padding-top: 12.5rem;
      }

      @include media-breakpoint-up(xxxl) {
        padding-top: 18.125rem;
      }
    }
  }
}

.decor {
  position: absolute;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  @each $name, $color in $theme-colors {
    .bg-#{$name} & {
      background-color: $color;
      color: $color;
    }
  }

  .persective-lr & {
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      border-style: solid;
      border-color: transparent;
    }

    &:before {
      top: 0;
      left: 0;
      border-width: 0 0 2.0625rem 100vw;
      border-bottom-color: currentColor;
      transform: translateY(-100%);

      @include media-breakpoint-up(xl) {
        border-bottom-width: 4.6875rem;
      }

      @include media-breakpoint-up(xxxl) {
        border-bottom-width: 12.1875rem;
      }
    }

    &:after {
      top: 100%;
      border-width: 2.0625rem 0 0 100vw;
      border-top-color: currentColor;

      @include media-breakpoint-up(xl) {
        border-top-width: 4.6875rem;
      }

      @include media-breakpoint-up(xxxl) {
        border-top-width: 12.1875rem;
      }
    }
  }

  .top-skew-rl & {
    &:before {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      border-style: solid;
      border-color: transparent;
      top: 0;
      border-width: 2.0625rem 0 0 100vw;
      border-left-color: currentColor;
      transform: translateY(-100%);

      @include media-breakpoint-up(xl) {
        border-top-width: 4.6875rem;
      }

      @include media-breakpoint-up(xxxl) {
        border-top-width: 12.1875rem;
      }
    }
  }

  .skew-lr &,
  .skew-lr-lg & {
    &:before,
    &:after {
      content: '';
      position: absolute;
      width: 0;
      height: 0;
      left: 0;
      border-style: solid;
      border-color: transparent;
    }

    &:before {
      top: 0;
      left: 0;
      border-width: 0 0 0.9375rem 100vw;
      border-bottom-color: currentColor;
      transform: translateY(-100%);

      @include media-breakpoint-up(lg) {
        border-bottom-width: 2.0625rem;
      }

      @include media-breakpoint-up(xxxl) {
        border-bottom-width: 4.5625rem;
      }
    }

    &:after {
      top: 100%;
      border-width: 0.9375rem 100vw 0 0;
      border-top-color: currentColor;

      @include media-breakpoint-up(lg) {
        border-top-width: 2.0625rem;
      }

      @include media-breakpoint-up(xxxl) {
        border-top-width: 4.5625rem;
      }
    }
  }

  .skew-lr-lg & {
    &:before {
      border-bottom-width: 2.375rem;

      @include media-breakpoint-up(lg) {
        border-bottom-width: 5rem;
      }

      @include media-breakpoint-up(xxxl) {
        border-bottom-width: 12rem;
      }
    }

    &:after {
      border-top-width: 2.375rem;

      @include media-breakpoint-up(lg) {
        border-top-width: 5rem;
      }

      @include media-breakpoint-up(xxxl) {
        border-top-width: 12rem;
      }
    }
  }

  .image-bottom & {
    opacity: 0;

    @include media-breakpoint-up(lg) {
      background-position: bottom center;
      background-size: 100% auto;
      opacity: 1;
    }
  }

  .image-skew & {
    opacity: 0;

    @include media-breakpoint-up(lg) {
      transform: skewY(-3deg);
      opacity: 1;
      background-size: cover;
      background-position: center;
      top: calc(-30px - 1.4vw);
      bottom: calc(-30px - 1.4vw);
      overflow: hidden;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 110%;
      object-fit: cover;
      object-position: center;
    }
  }
}
