.event-form-overlay {
  filter: drop-shadow(0 4px 20px rgba($black, 0.35));
  position: relative;
  z-index: 9;
  margin-bottom: 3.125rem;
}

.event-form {
  position: relative;
  color: $white;
  z-index: 8;
  padding: 2.5rem 0.9375rem 1.25rem;
  margin: 0 -0.9375rem;
  background-color: $secondary;
  clip-path: polygon(0% 50px, 50px 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);

  @media (min-width: 375px) {
    padding: 2.5rem 2.1875rem 1.875rem;
  }

  @include media-breakpoint-up(xl) {
    padding: 3.625rem 3.4375rem 3.4375rem;
    clip-path: polygon(0% 60px, 70px 0%, 85% 0%, 100% 0, 100% 15%, 100% 85%, 100% 100%, 85% 100%, 15% 100%, 0 100%, 0% 85%);
  }

  label {
    margin-bottom: 0;

    @include media-breakpoint-up(sm) {
      margin-bottom: 0.3125rem;
    }
  }

  .form-group {
    margin-bottom: 0.3125rem;

    @include media-breakpoint-up(xl) {
      margin-bottom: 0.75rem;
    }
  }

  .form-control,
  #{$input-selector} {
    @include media-breakpoint-down(sm) {
      height: 31px;
      font-size: 1rem;
      padding: 0.3125rem 0.625rem;
    }

    @include placeholder {
      @include media-breakpoint-down(sm) {
        font-size: 0.875rem;
      }
    }
  }

  textarea,
  textarea.form-control {
    height: auto;
  }

  form {
    @include media-breakpoint-up(xl) {
      margin-top: 2.5rem;
    }
  }

  .form-title {
    font-size: 1.875rem;
    margin-bottom: 1.0625rem;

    @media (min-width: 375px) {
      font-size: 2.5rem;
    }
  }

  [type='submit'] {
    margin-top: 1.4375rem;
    min-width: 177px;

    @include media-breakpoint-down(sm) {
      padding: 0.375rem 1.25rem;
      border-radius: 7px;
      min-width: 114px;
    }

    @include media-breakpoint-up(xl) {
      margin-top: 2.0625rem;
    }
  }
}
