.event-section-fullpage {
  .section-heading {
    @include media-breakpoint-up(xxxl) {
      margin-left: -7.1875rem;
    }
  }
}

.events-list {
  padding-top: 3.125rem;

  .event-section-fullpage & {
    @include media-breakpoint-up(xxxl) {
      margin-left: -7.1875rem;
    }
  }
}

.event {
  display: flex;
  align-items: flex-start;
  font-size: $font-size-md;
  line-height: 1.125;
  letter-spacing: 0;
  margin-bottom: 3.75rem;
}

.event-date {
  flex: 0 0 auto;
  width: 80px;
  font-size: $font-size-sm;
  text-transform: uppercase;
  padding-right: 0.625rem;

  @include media-breakpoint-up(lg) {
    font-size: $font-size-md;
    width: 120px;
    padding-top: 1.75rem;
    border-top: 2px solid $primary;
  }

  @include media-breakpoint-up(xl) {
    width: 160px;
  }

  span {
    display: block;
  }

  .meta-label {
    margin-bottom: 0.5rem;
  }

  .date {
    font-size: 1.875rem;
    line-height: 1.1666;

    @include media-breakpoint-up(lg) {
      font-size: 3.125rem;
    }
  }
}

.event-content {
  flex: 1 auto;

  @include media-breakpoint-up(lg) {
    display: flex;
  }
}

.event-image-wrapper {
  width: 100%;
  margin-bottom: 0.9375rem;

  @include media-breakpoint-up(lg) {
    order: 2;
    margin-bottom: 0;
    width: 280px;
    margin-left: 5rem;
    flex: 0 0 auto;
    align-self: flex-start;
  }

  @include media-breakpoint-up(xl) {
    margin-left: 5.625rem;
    width: 410px;
  }

  .event-section-fullpage & {
    @include media-breakpoint-up(lg) {
      position: relative;
      padding-top: 0.125rem;
    }

    @include media-breakpoint-up(xxxl) {
      margin-left: 13.5625rem;
      width: 302px;
    }

    &:before {
      @include media-breakpoint-up(lg) {
        content: '';
        position: absolute;
        top: 0;
        left: -5rem;
        border-top: 2px solid $primary;
        right: -9999px;
      }

      @include media-breakpoint-up(xl) {
        left: -5.625rem;
      }

      @include media-breakpoint-up(xxxl) {
        left: -13.5625rem;
      }
    }
  }
}

.event-image {
  position: relative;
  overflow: hidden;
  min-height: 205px;
  padding-bottom: 50%;

  @include media-breakpoint-up(lg) {
    min-height: 150px;
    padding-bottom: 0;
  }

  @include media-breakpoint-up(xl) {
    min-height: 208px;
  }

  .event-section-fullpage & {
    @include media-breakpoint-up(lg) {
      width: calc(((100vw - #{map-get($container-max-widths, 'lg')}) / 2) + 280px + 2.0625rem);
    }

    @include media-breakpoint-up(xl) {
      width: calc(((100vw - #{map-get($container-max-widths, 'xl')}) / 2) + 410px + 2.0625rem);
    }

    @include media-breakpoint-up(xxl) {
      width: calc(((100vw - #{map-get($container-max-widths, 'xl')}) / 2) + 410px + 2.0625rem);
    }

    @include media-breakpoint-up(xxxl) {
      width: calc(((100vw - #{map-get($container-max-widths, 'xl')}) / 2) + 302px + 2.0625rem);
    }
  }

  &:hover {
    img {
      transform: scale(1.04);
    }
  }

  img {
    @include animate(transform);

    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    will-change: transform;
  }
}

.event-head {
  margin-bottom: 0.9375rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 1.375rem;
  }

  .meta-info {
    display: block;
    margin-bottom: 0.875rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0.0625rem;
    }
  }

  #{$headings} {
    margin-bottom: 1rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 0.3125rem;
    }
  }

  > :last-child {
    margin-bottom: 0;
  }
}

.event-description {
  @include media-breakpoint-up(lg) {
    flex: 1 auto;
    padding-top: 1.75rem;
    border-top: 2px solid $primary;
  }
}

.event-text {
  p {
    line-height: 1.4;
  }
  > :last-child {
    margin-bottom: 0;
  }
}
