.metric-section {
  padding: 6.25rem 0;

  &.skew-lr {
    .decor {
      &:after,
      &:before {
        @include media-breakpoint-down(md) {
          content: none;
        }
      }
    }
  }
}

.metrics-wrapper {
  padding-top: 3.75rem;

  @include media-breakpoint-up(lg) {
    padding-top: 2.0625rem;
  }

  &:last-child {
    margin-bottom: -3.75rem;
  }
}

.metrics-item {
  text-align: center;
  margin-bottom: 3.75rem;
  font-size: $font-size-md;
  line-height: 1.125;
  letter-spacing: 0;

  @include media-breakpoint-up(lg) {
    font-size: 1.125rem;
    line-height: 1.377;
    letter-spacing: 0.01em;
    padding: 0 0.625rem;
  }

  @include media-breakpoint-up(xl) {
    padding: 0 2.1875rem;
  }
}

.metrics-value {
  display: block;
  font-weight: 700;
  font-size: 5rem;
  line-height: 1.125;
  margin-bottom: 1.125rem;
}

.metrics-text {
  ul {
    padding: 0;
    margin: 0;
  }
  > :last-child {
    margin-bottom: 0;
  }
}
