.sponsors-section {
  padding: 4.0625rem 0;
  position: relative;
  z-index: 2;
  @include media-breakpoint-up(lg) {
    padding: 6.25rem 0;
  }
  @include media-breakpoint-up(xxl) {
    padding: 9.375rem 0;
  }
  &.heading-custom-position {
    @include media-breakpoint-up(xxl) {
      padding-top: 1px;
    }
    @each $name, $color in $theme-colors {
      &.bg-#{$name} {
        .section-heading {
          &:after {
            color: $color;
          }
        }
      }
    }
    .section-heading {
      @include media-breakpoint-up(xxl) {
        margin-top: 10rem;
        position: relative;
      }
      &:after {
        @include media-breakpoint-up(xxl) {
          content: '';
          position: absolute;
          top: 0;
          bottom: -5.875rem;
          left: -9999px;
          right: -9999px;
          background-image: linear-gradient(to bottom, transparent 0%, currentColor 100%);
          z-index: -1;
        }
      }
    }
  }
}
.sponsors-list {
  @extend %listreset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 -0.9375rem;
  padding: 6.125rem 0;
  .homepage-blocks & {
    &.signature-sponsors {
      margin-bottom: -3.75rem;
      li {
        width: 25%;
        margin-bottom: 3.75rem;
        min-width: 205px;
        @include media-breakpoint-up(xxl) {
          margin-bottom: 5.1875rem;
        }
        &:nth-child(3n) {
          .logo-img,
          a {
            @include media-breakpoint-up(xl) {
              justify-content: flex-end;
            }
          }
        }
        &:nth-child(3n + 1) {
          .logo-img,
          a {
            @include media-breakpoint-up(xl) {
              justify-content: flex-start;
            }
          }
        }
      }
    }
  }
  &.signature-sponsors {
    li {
      width: 33.33%;
      margin-bottom: 0.625rem;
      min-width: 228px;
    }
    .logo-img {
      height: 3.75rem;
      max-width: 228px;
      @include media-breakpoint-up(sm) {
        max-width: 100%;
      }
      @include media-breakpoint-up(md) {
        height: 5.625rem;
      }
      @include media-breakpoint-up(xl) {
        height: auto;
        max-height: 12.5rem;
      }
    }
  }
  &.platinum-sponsors {
    &:last-child {
      margin-bottom: -2.8125rem;
      @include media-breakpoint-up(md) {
        margin-bottom: -1.375rem;
      }
    }
    li {
      margin-bottom: 2.8125rem;
      @include media-breakpoint-up(md) {
        margin-bottom: 1.375rem;
      }
      &:nth-child(4n) {
        .logo-img,
        a {
          @include media-breakpoint-up(md) {
            justify-content: flex-end;
          }
        }
      }
      &:nth-child(4n + 1) {
        .logo-img,
        a {
          @include media-breakpoint-up(md) {
            justify-content: flex-start;
          }
        }
        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3) {
          .logo-img,
          a {
            @include media-breakpoint-up(md) {
              justify-content: center;
            }
          }
        }
      }
    }
    .logo-img {
      height: 3.125rem;
      @include media-breakpoint-up(md) {
        height: 4.375rem;
      }
      @include media-breakpoint-up(xl) {
        height: 6.0625rem;
      }
    }
  }
  &.gold-sponsors {
    &:last-child {
      margin-bottom: -2.6875rem;
      @include media-breakpoint-up(md) {
        margin-bottom: -1.5625rem;
      }
    }
    li {
      margin-bottom: 2.6875rem;
      @include media-breakpoint-up(md) {
        margin-bottom: 1.5625rem;
      }
      &:nth-child(4n) {
        .logo-img,
        a {
          @include media-breakpoint-up(md) {
            justify-content: flex-end;
          }
        }
      }
      &:nth-child(4n + 1) {
        .logo-img,
        a {
          @include media-breakpoint-up(md) {
            justify-content: flex-start;
          }
        }
        &:nth-last-child(1),
        &:nth-last-child(2),
        &:nth-last-child(3) {
          .logo-img,
          a {
            @include media-breakpoint-up(md) {
              justify-content: center;
            }
          }
        }
      }
    }
    .logo-img {
      height: 1.875rem;
      @include media-breakpoint-up(md) {
        height: 3.4375rem;
      }
      @include media-breakpoint-up(xl) {
        height: 4.8125rem;
      }
    }
  }
  &.startup-sponsors {
    &:last-child {
      margin-bottom: -1.375rem;
    }
    li {
      margin-bottom: 1.375rem;
      @include media-breakpoint-up(lg) {
        width: 20%;
      }
    }
  }
  &.media-sponsors {
    @include media-breakpoint-up(md) {
      justify-content: space-around;
    }
    &:last-child {
      margin-bottom: -2.0625rem;
    }
    li {
      margin-bottom: 2.0625rem;
    }
    .logo-img {
      height: 4.6875rem;
      @include media-breakpoint-up(md) {
        height: 5.625rem;
      }
      @include media-breakpoint-up(xl) {
        height: 6.8125rem;
      }
    }
  }
  &.base-sponsors {
    justify-content: flex-start;
  }
  li {
    padding: 0 0.9375rem;
    width: 50%;
    margin-bottom: 2.1875rem;
    @include media-breakpoint-up(sm) {
      width: 33%;
    }
    @include media-breakpoint-up(md) {
      width: 25%;
    }
  }
}
.logo-img {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  height: 3.125rem;
  margin-bottom: 50px;
  a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      opacity: 0.7;
    }
  }
  img {
    max-height: 100%;
    flex: 0 0 auto;
    max-height: 50px;
    @include media-breakpoint-up(sm) {
      max-height: 75px;
    }
  }
}
.homepage-blocks {
  .signature-sponsors {
    .logo-img {
      @include size(10.75rem, 2.6875rem);
      margin: 0 auto;
      @include media-breakpoint-up(xl) {
        @include size(13.25rem, 5rem);
      }
    }
  }
}