.nav-tabs {
  margin-bottom: 0.75rem;

  @include media-breakpoint-up(lg) {
    margin-bottom: 1.4375rem;
  }

  li {
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;

    @include media-breakpoint-up(lg) {
      margin-right: 0.875rem;
    }

    &:last-child {
      margin-right: 0;
    }
  }

  .nav-link {
    background-color: $gray-600;
    color: $white;
    text-transform: uppercase;
    font-weight: 700;
    font-size: $font-size-md;
    letter-spacing: 0.06em;

    @include media-breakpoint-up(lg) {
      padding-left: 1.875rem;
      padding-right: 1.875rem;
    }

    &:hover {
      color: $secondary;
    }
  }
}
