/*

!.gitignore

!wp-content/

wp-content/*

!wp-content/themes

!wp-content/index.php

wp-content/themes/*

!wp-content/themes/index.php

!wp-content/themes/authenticate

!wp-content/themes/authenticatecon
