// -----------------------------------------------------------------------------
// This file contains all unique styles for home page only
// -----------------------------------------------------------------------------
.events-blocks {
  .event-section {
    padding-top: 8.875rem;
  }

  .events-list {
    padding-top: 5.375rem;

    @include media-breakpoint-up(xxl) {
      padding-top: 6.9375rem;
    }
  }
}
