.signup-blocks {
  .intro-content-wrapper {
    padding-top: 10.75rem;
    font-size: 1.125rem;
    padding-bottom: 9.375rem;

    @include media-breakpoint-up(lg) {
      padding-top: 8.375rem;
      font-size: 1.375rem;
      letter-spacing: 0.06em;
    }

    h1 {
      @include media-breakpoint-up(lg) {
        margin-bottom: 1.875rem;
      }
    }
  }
}

.sign-up-form-holder {
  label {
    margin-bottom: 0.5rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: $label-margin-bottom;
    }
  }

  .form-group {
    margin-bottom: 1.375rem;

    @include media-breakpoint-up(lg) {
      margin-bottom: 1.25rem;
    }
  }

  #{$input-selector},
  .form-control {
    font-size: $font-size-lg;
  }

  button[type='submit'],
  input[type='submit'] {
    min-width: 169px;
  }
}
