.speakers-blocks {
  .speaker-section {
    padding-top: 8.5rem;

    @include media-breakpoint-up(lg) {
      padding-top: 9.6875rem;
    }
  }

  .cta-section {
    .section-heading {
      @include media-breakpoint-up(lg) {
        margin-bottom: 3.5625rem;
      }
    }
  }
}
